<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to {{ nginx_domain }}</title>
</head>
<body>
    <h1>Nginx is working at {{ nginx_domain }}</h1>
    <p>Root: /var/www/{{ nginx_domain }}</p>
</body>
</html>
