[DEFAULT]
bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend = {{ fail2ban_backend }}

[sshd]
enabled = true
backend = {{ fail2ban_backend }}
